* {
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
}

#clock,
#battery,
#network,
#custom-pomodoro,
#custom-spacer{
    padding: 0px 5px;
    color: #000000;
    background-color: #ffffff;
}

#battery {
    border-radius: 20px 0px 0px 20px;
    padding-left: 20px;
}

#clock {
    border-radius: 0px 20px 20px 0px;
    padding-right: 20px;
}
